.chat-row {
    display: flex;
    align-items: flex-start;
    margin: 5px 0;
    width: 100%;
}

.row-reverse {
    flex-direction: row-reverse;
}

.chat-bubble {
    font-family: "Source Sans Pro", sans-serif, "Segoe UI", "Roboto", sans-serif;
    border: 1px solid transparent;
    padding: 12px 16px;
    margin: 0px 10px;
    max-width: 70%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.ai-bubble {
    background: linear-gradient(135deg, #dbae85 5%, #bf8f63 95%);
    border-radius: 10px;
    color: black;
}

.human-bubble {
    background: linear-gradient(135deg, #a05a2c 0%, #7a421e 100%);
    color: white;
    border-radius: 20px;
}

.chat-icon {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}